{
    "presets": [
	"react",
	"es2015"
    ],
    "plugins": [
	"transform-runtime"
    ],
    "env": {
	"production": {
	    "compact": "auto"
	},
	"development": {
            "compact": "false"
	}
    }
}
