/**
 * Date Picker Input styles
 */
.DayPickerInput>input {
    border-radius: 2px;
    font-size: 1rem;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

/**
 * Approval button styles
 */
.provisional-form-buttons-wrapper,
.approval-form-buttons-wrapper {
    margin-bottom: 20px;
    padding: 0;

    .button-group {
        text-align: right;
    }
}

.provisional-approval.in-progress, .final-approval {
    margin-bottom: 100px;
}

/**
 * Approval snapshot style
 */
.provisional-approval-snapshot-list,
.final-approval-snapshot-list {
    margin-bottom: 0;

    .list-group {
        list-style: none;
        padding-left: 0;
    }

    .list-group-item {
        table {
            width: 100%;
        }

        &:first-child {
            background-color: #efefef;
        }
    }

    .approval-snapshot-content {
        padding: 14px 18px;
        width: 80%;

        dl {
            margin-bottom: 5px;
        }
    }

    .approval-snapshot-buttons {
        padding: 14px 18px;
        text-align: center;
        vertical-align: middle;
        width: 20%;

        input[type="button"] {
            margin: 8px 0;
        }
    }
}

/**
 * Provisional approval panel UI styles
 */
.provisional-approval {
    .provisional-form-content-wrapper {
        border: none;
        padding: 0;
    
        .col-sm-4 {
            padding-left: 0;
            padding-top: 7px;
        }

        .col-sm-3, .col-sm-5 {
            padding-right: 0;
    
            label {
                padding-right: 0;
            }
        }
    }

    .provisional-preview {
        .provisional-form-content-wrapper {
            .col-sm-3, .col-sm-5 {
                padding-top: 7px;
            }
        }
    }

    .provisional-preview-note {
        margin-bottom: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

/**
 * Final approval panel UI styles
 */
.final-approval {
    .approval-form-content-wrapper {
        border: none;
        padding: 0;
    
        .col-sm-4 {
            padding-left: 0;
            padding-top: 7px;
        }
    
        .col-sm-3, .col-sm-5 {
            padding-right: 0;
    
            label {
                padding-right: 0;
            }
        }

        .classification-approver {
            .form-group {
                margin: 0;

                label {
                    padding-left: 0;
                    text-align: left;
                    width: auto;
                }
            }
        }
    }

    .approval-preview {
        .approval-form-content-wrapper {
            .col-sm-3, .col-sm-5 {
                padding-top: 7px;
            }
        }
    }

    .approval-preview-note {
        margin-bottom: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

/**
 * Interpretation approval styles
 */
.evaluation-summary {
    .provisional-interpretation-note {
        margin-top: 20px;
    }

    .provisional-approval-panel-content {
        margin: 0 10px;
    }

    .final-approval-panel-content {
        margin: 0 10px;
    }

    .provisional-form-buttons-wrapper,
    .approval-form-buttons-wrapper {
        margin-bottom: 15px;
    }

    .final-approval {
        margin-bottom: 10px;
    }
}