.cdb-logo {
    background: url(/static/img/cdb-white_bg.png) 0 1px no-repeat;
    background-size: contain;
    height: 35px;
}

.cdb-logo-text {
    margin-left: 50px;
    line-height: 35px;
    vertical-align: middle;
    font-size: 25px;
}
