.curation-content {
    margin-top: 10px;
}

.curr-pmid-overview {
}

.pmid-doi-btns {
    margin: 10px 0;

    .btn {
        margin-right: 10px;
    }
}

.pmid-overview-abstract {
    margin: 30px 0;
}

.curation-data {
    dl {
        margin: 0;

        @media screen and (min-width: $screen-sm-min) {
            margin-bottom: 10px;
        }
    }
}

.curation-data-title {
    margin-bottom: 2px;
    color: #000;
    background-color: #c0c0c0;
    text-align: center;

    h1 {
        margin: 5px 0 2px;
        font-size: 1.5rem;
        font-weight: bold;

        span {
            word-break: break-all;
        }
    }

    h2 {
        margin: 2px 0 5px;
        font-size: 1.1rem;
        font-weight: 300;
        font-style: italic;
    }

    a i {
        color: #245A88;
    }
}

.curation-data-gene,
.curation-data-disease {
    margin-bottom: 2px;
}

.curation-data-disease,
.curation-data-gene,
.curation-data-curator {
    padding: 10px;
    background-color: $color-neutral-bg;

    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }

    h4 {
        border-bottom: 1px solid #c9c9c9;
        margin-top: 0;
        padding-bottom: 10px;
    }
}

.equal-height {
    overflow: hidden;
}

@media screen and (min-width: $screen-sm-min) {
    .gutter-exc:not(:last-child),
    .gutter-exc:not(:first-child) {
        padding-right: 1px;
        padding-left: 1px;
    }

    .gutter-exc:first-child {
        padding-left: $grid-gutter-width / 2;

    }

    .gutter-exc:last-child {
        padding-right: $grid-gutter-width / 2;

    }
}

.pmid-selection-trigger {
    background-color: $color-neutral-bg;
}

.pmid-selection-curr-id {
    position: relative;
    margin-left: 10px;
    top: 2px;
    font-weight: bold;
    font-size: 1.1rem;
}

.pmid-selection-trigger {
    padding: 5px;
}

.pmid-selection-selected {
    float: none;

    @media screen and (min-width: $screen-md-min) {
        float: left;
    }
}

.btn-add-new-pmid {
    display: block;
    margin-top: 2px;

    @media screen and (min-width: $screen-md-min) {
        float: right;
        margin-top: 0;
    }
}

.pmid-selection-wrapper {
    margin-bottom: 50px;
}

.pmid-selection-add {
    padding: 5px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

.pmid-selection-add-btn {
    width: 100%;
}

.pmid-selection-list {
    max-height: 250px;
    overflow-y: auto;
    background-color: #f0f0f0;
    border: 1px solid #dddddd;

    @media screen and (min-width: $screen-md-min) {
        max-height: 500px;
    }
}

.pmid-selection-list-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid darken(#dddddd, 10%);
    cursor: pointer;
    background-color: #ffffff;
    @include border-radius(3px);

    div {
        opacity: 0.5;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    &.curr-pmid {
        border: 4px solid $color-trim;
        @include border-radius(4px);
    }

    &:hover div,
    &.curr-pmid div {
        opacity: 1;
    }
}

.pmid-selection-list-pmid {
    font-weight: bold;
}

.pmid-selection-help {
    margin-top: 20px;
}

.curation-content .col-md-6 {
    padding: 0;

    .curr-pmid-overview {
        background-color: #ffffff;
        border: 4px solid $color-trim;
        @include border-radius(4px);
        padding: 10px 15px;
    }
}

.panel-curator {
    margin: 2px 0;
    padding: 15px;
    background-color: darken($color-neutral-bg, 10%);
    @include border-radius(0);

    p {
        margin: 0;
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.panel-evidence-groups {
    > .panel-heading {
        padding: 0;

        h4 {
            text-align: center;
            font-weight: bold;
        }
    }

    > .panel-body {
        padding: 10px 10px 0 10px;

        h5 {
            font-weight: bold;
            margin: 0;
        }
    }
}


.panel-evidence-group {
    margin: 5px 0;

    h5 {
        display: block;
    }

    .variant-preferred-title {
        border-bottom: 1px dotted #337ab7;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
    }
}

.panel-evidence {
    .panel-heading {
        padding: 0;

        h4 {
            font-size: 1.1rem;
            text-align: left;
        }

        a {
            padding: 5px 10px;
        }
    }

    .panel-body {
        padding: 10px;
        background-color: #fff;
    }

    .icon {
        font-size: 1.3rem;
    }
}

.evidence-curation-info {
    font-style: italic;
    margin: 2px 0 0 0;

    p {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.3;
    }
}

.panel-create-gene-disease, .panel-select-variant {
    .panel-std {
        padding-bottom: 40px;
    }
}

.panel-dashboard {
    .panel-std {
        padding: 10px 0 15px 0;

        h3 {
            margin: 10px 25px 15px 25px;
        }

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 8px 20px 8px 25px;
            border-top: 1px solid #ddd;
            list-style: none;
            word-wrap: break-word;
        }

        li:nth-last-child(1) {
            border-bottom: 1px solid #ddd;
        }

        a.block-link:hover {
            text-decoration: none;

            li {
                background-color: #cde8f6;
            }

            .block-link-color {
                text-decoration: underline;
            }
        }

        a.block-link .block-link-no-color {
            color: #000;
        }
    }

    a.help-doc {
        margin-left: 8px;

        .icon {
            font-size: 16px;
            vertical-align: text-top;
        }
    }
}

.edit-omim-modal {
    display: inline;
}

.curation-pmid-summary {
    margin-top: 5px;
    padding: 10px 20px 0 20px;
    background-color: $group-curation-bg;
    border: 1px solid $group-curation-trim;
    font-size: 1.1rem;
    text-align: center;
}

.curation-content-viewer {
    padding-bottom: 40px;
}

.variant-panel {
    padding-top: 40px;
    border-top: 1px solid #c0c0c0;
    padding-bottom: 15px;

    .mutalyzer-link {
        float: none;
        margin-bottom: 0;
    }

    .other-variant-desc {
        margin-bottom: 0;
    }

    .clinvar-preferred-title {
        word-break:break-all;
        word-wrap: break-word;
    }

    &:first-child {
        padding-top: 0;
        border-top: none;
    }
}

.variant-view-panel {
    h5 {
        margin-bottom: 0;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c0c0c0;
        font-size: 1.3rem;
    }

    @media screen and (min-width: $screen-sm-min) {
        &.variant-view-panel-edit {
            margin-bottom: 40px;
        }
    }
}

.variant-individual {
    margin-top: 60px;
    padding-top: 40px;
    border-top: 1px solid #c0c0c0;
}

.viewer-titles {
    h1 {
        display: inline-block;
        margin-bottom: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }

    h2 {
        margin-top: 0;
        font-size: 1.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .pmid-association-header {
        padding: 2px 0;
    }

    .variant-association-header {
        padding-left: 15px;

        dt {
            font-weight: normal;
            padding-right: 5px;
        }

        dd {
            word-break: break-all;
            word-wrap: break-word;
        }
    }
}

.submit-titles {
    margin-bottom: -40px;

    h1 {
        max-width: 90%;
    }

    a {
        margin: 0 0 55px 10px;
    }
}

.title-ellipsis {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: bottom;

    a {
        border-bottom: 1px dotted #337ab7;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.title-ellipsis-short {
    max-width: 91%;

    @media screen and (min-width: $screen-sm-min) {
        max-width: 89%;
    }
}

.title-ellipsis-shorter {
    max-width: 80%;

    @media screen and (min-width: $screen-sm-min) {
        max-width: 77%;
    }
}

.dotted {
    border-bottom: 1px dotted #000;
}

.curation-submit {
    margin-bottom: 20px;

    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 40px;
    }
}

.no-entry {
    color: #c0c0c0;
}

.disabled-gray {
    color: $gray-light;
}

.btn-individual-submit {
    width: 100%;
}

.input-note-below {
    margin-top: -20px;
    margin-bottom: 40px;
}

.input-note-below-no-bottom {
    margin-top: -20px;
}

.input-note-top {
    margin-top: 20px;
    margin-bottom: -5px;
}

.orphanet-copy {
    margin-top: -15px;

    input[type=button] {
        margin-left: -3px;
    }
}

.experimental-data-form {
    input[type=checkbox] {
        margin-top: 11px;
    }

    .hug-top {
        margin-top: -20px;
        padding-bottom: 20px;
    }

    .no-resize {
        resize: none;
        overflow-x: hidden;
    }
}

.variant-interpretation {
    input[type=checkbox] {
        margin-top: 11px;
    }

    .section-complete-bar {
        margin: 0 -15px 0 -15px;
        padding-top: 3px;
        padding-bottom: 9px;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
}

.palette-not-curated {
    color: #909090;
}

// Variant Header Styles
.variant-header {
    margin-top: 2px;
    padding: 5px 0;
    background-color: #c0c0c0;

    h2 {
        margin: 0;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }

    p {
        margin-bottom: 0;
        text-align: center;
    }

    .btn {
        position: relative;
        margin: 5px 0;
        width: 100%;

        i {
            position: absolute;
            top: 3px;
            right: 3px;
            font-size: 1rem;
        }
    }

    .assessed {
        padding-right: 15px;
    }
}

// Display inline icon for proband. Change @extend to change icon site-wide.
.icon-proband {
    @extend .icon-user-md;
    margin-left: 3px;
    margin-right: 3px;
    color: #ce1d1d;
    font-size: 1.1em !important; // To make its size relative to the surrounding text.
}

.icon-proband-white {
    @extend .icon-proband;
    color: #fff;
}

// Summary and Provisional data in GDM title panel
.provisional-info-panel {
    width: 100%;
    border-top: 2px solid #aaa;

    table {
        width: 100%;
    }

    td {
        text-align: left;
    }

    .button-box {
        width: 200px;
        vertical-align: middle;
    }

    .provisional-title {
        text-align: left;
        padding-left: 10px;
    }

    .provisional-data-left {
        float: left;
        text-align: left;
        padding-left: 10px;
        padding-right: 100px;
    }

    .provisional-data-center {
        float: left;
        text-align: left;
        padding-left: 10px;
    }

    .provisional-button {
        padding: 0;
        margin: auto;

        .btn {
            margin: 10px 0 10px 0;
        }
    }
}

.assessment-counting {
    td {
        text-align: center;
        width: 150px;
    }
    .values {
        text-align: right;
    }
}

.summary-scoring {

    .td-title {
        width: 420px;
        padding-left: 10px;
    }

    .td-score {
        width: 80px;
        text-align: right;
        vertical-align: top;
        padding-right: 10px;
    }
}

.inline-button-wrapper {
    display: inline-block;
}

.delete-button-push {
    margin-right: 20px;
}

.delete-notice {
    font-size: 0.8rem;
    color: #d9534f;
    font-weight: bold;
    line-height: 2.5;
    padding-right: 10px;
}

.button-push {
    margin-right: 15px;
}

.summary-matrix {
    border: solid 3px #000;
    border-collapse: collapse;
    font-size: 14px;
    position: relative;
    width: 90%;

    .count-title-row {
        height: 30px;
    }

    td {
        padding: none;
        text-align: center;
        vertical-align: middle;
        border: solid 1px #000;
    }

    .most-left {
        width: 110px;
    }

    .area-top-cells {
        border-top: solid 2px #000;
    }
    .area-bottom-cells {
        border-bottom: solid 2px #000;
    }

    .empty-cell {
        background-size: 10px 10px;
        background-image: linear-gradient(0deg, #ccc 50%, transparent 50%, transparent);
    }

    .title {
        font-weight: bold;
    }

    .larger {
        font-size: 16px;
    }

    .top-multiple-cell {
        border-bottom: none;
    }

    .top-number-cell {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 2px #000;
        width: 80px;
    }

    .description {
        width: 250px;
        padding: 5px 10px 5px 10px;
        text-align: left;
    }

    .classification-cell {
        background-color: #fff;
    }

    .classification-score-top {
        padding: 20px 10px 10px 10px;
        text-align: center;
        vertical-align: top;
        background-color: #ddd;
        border-bottom: none;

        table {
            padding: 0;
            margin: 0 auto;
            border-collapse: collapse;
            border-spacing: 5px;
            width: 90%;

            .high-light-row {
                height: 28px;
                background-color: #fff;
            }

            td {
                line-height: 24px;
                text-align: center;
                border: none;
            }

            .non-high-light {
                color: #c85;
            }
        }
    }

    .classification-score-bottom {
        padding: 10px 10px 0px 10px;
        text-align: left;
        border-top: none;
        background-color: #ddd;
        vertical-align: bottom;
    }

    .total-score-cell {
        padding: 5px 10px 5px 0px;
        text-align: right;
    }

    .result-cells {
        vertical-align: middle;
        background-color: #fff;
    }
    .around-count-cells {
        border: none;
    }
    .dark-cells {
        background-color: #aaa;
    }
    .score-cells {
        padding: 0px 10px 0px 10px;
        font-style: italic;
        color: #d96;
    }

    .vertical-title-most-left-cell {
        height: 80px;
        width: 30px;
    }

    .score-vertical-content {
        display: inline-block;
        white-space: nowrap;
        width: 22px;
        text-align: center;
        vertical-align: middle;
    }

    .vertical-transform-0 {
        @include transform(rotate(90deg) translate(0px, -3px));
    }
    .vertical-transform-1 {
        @include transform(rotate(90deg) translate(-10px, 0));
    }
    .vertical-transform-2 {
        @include transform(rotate(90deg) translate(-18px, 0));
    }
    .vertical-transform-3 {
        @include transform(rotate(90deg) translate(-30px, 0px));
    }

    .underline-text {
        text-decoration: underline;
    }

    .title-p {
        text-align: center;
    }

    hr {
        width: 80%;
        border: none;
        border-top: solid 1px #000;
    }
}

.exp-matrix {
    padding: none;
    margin: none;
    width: 100%;
    font-size: 14px;
    border: none;

    .top-row {
        background-color: #47b;
        td {
            color: #fff;
            font-weight: bold;
        }
    }

    td {
        padding: 5px 10px 5px 10px;
    }

    .exp-evidence-category-cells {
        width: 100px;
    }

    .exp-vertical-title-cells {
        height: 110px;
        width: 50px;
        border-bottom: solid 2px #000;
        text-align: center;
        vertical-align: middle;
    }
}

.narrow-line {
    height: 3px;
}
.narrow-line-2 {
    height: 10px;
}
.classification-cell {
    border-bottom: 10px;
}
.classificationTable {
    table {
        border: 3px solid #000;
        border-collapse: collapse;
        border-spacing: 5px;
        font-size: 16px;
    }
    td {
        border-top: 1px solid #000;
        border-bottom: 3px solid #000;
        border-left: 3px solid #000;
        padding: 5px 10px 5px 10px;
    }
    ul {
        margin-top: 10px;
    }
    .greyRow {
        background-color: #eee;
    }

    .titleCell {
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        font-weight: bold;
    }
    .levelCell {
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }
    .verticalCell {
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }
    .verticalContent {
        display: inline-block;
        white-space: nowrap;
        font-size: 20px;
        font-weight: bold;
        width: 30px;
    }
    .spptEvd {
        @include transform(rotate(270deg) translate(-90px, 0));
    }
    .cntrdctEvd {
        @include transform(rotate(270deg) translate(-100px, 0));
    }
    .olTitle {
        font-weight: bold;
        margin-top: 10px;
    }
    .olContent {
        font-weight: normal;
    }
}

.p-break {
    display: block;
    width: 95%;
    margin: 10px auto 10px auto;
    font-weight: bold;
    word-wrap: break-word;
}

.form-group {
    .control-label {
        .normal {
            font-weight: normal;
        }
        .emphasis {
            color: red;
        }
    }
}

.evaluation {
    .form-group {
        background-color: #fff;
        margin: 0;
    }
    .form-group:after {
        clear: none;
    }
    .pad-top {
        padding: 20px 0 0 0;

    }
    .pad-bottom {
        padding-bottom: 15px;
    }
    .center {
        text-align: center;
    }
    .input-right input {
        text-align: right;
    }
    .after-input {
        padding: 7px 0 0 0;
    }
    .clear {
        clear: both;
    }
    .divider {
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }
}

.panel-data {
    .variant-view-panel {
        dt {
            text-align: left;
            width: 172px;
        }

        dd {
            word-break: break-all;
            word-wrap: break-word;
        }
    }
}

.curation-variant-tab-group {
    margin-bottom: 20px;

    .vci-tabs {
        ul.vci-tabs-header[role=tablist] {
            border: none;
            margin: 0;
            padding: 0;

            li[role=tab] {
                background-color: #1b75bc;
                border-top: none;
                border-left: none;
                border-bottom: solid 1px #fff;
                border-right: solid 1px #fff;
                bottom: -1px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                list-style: none;
                padding: 8px 2px;
                position: relative;
                text-align: center;
            }

            li[role=tab][aria-selected=true] {
                background-color: #fff;
                border: solid 1px #1b75bc;
                border-bottom: solid 1px #fff;
                color: #000;
            }

            li[role=tab][aria-selected=true] ~ li {
                border-right: none;
                border-left: solid 1px #fff;
            }

            li[role=tab][aria-disabled=true] {
                color: GrayText;
                cursor: default;
            }

            li[role=tab]:focus {
                box-shadow: 0 0 5px hsl(208, 99%, 50%);
                border-color: hsl(208, 99%, 50%);
                outline: none;
            }

            li[role=tab]:focus:after {
                background: #fff;
                content: "";
                position: absolute;
                height: 5px;
                left: -4px;
                right: -4px;
                bottom: -5px;
            }
        }

        ul.vci-tabs-header[role=tablist].vci-subtabs {
            li[role=tab] {
                background-color: #fff;
                color: #1b75bc;
            }
        }

        .tab-panel {
            border: solid 1px #1b75bc;
            padding: 15px;
            margin-bottom: 10px;
            clear: both;

            ul, li {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            dl {
                margin-bottom: 0;

                dd {
                    margin-right: 20px;

                    &.pull-right {
                        margin-right: 0;
                    }
                }
            }

            .panel-content-wrapper .table {
                margin-bottom: 0;
            }

            .basic-info .table th,
            .basic-info .table td {
                width: 25%;

                .title-ellipsis {
                    max-width: 250px;
                }
            }

            .basic-info .datasource-clinvar-interpretaions .table th,
            .basic-info .datasource-clinvar-interpretaions .table td {
                width: 16.67%;
            }

            .basic-info .datasource-clinvar-interpretaions {
                margin-bottom: 20px;
            }

            .basic-info .datasource-clinvar-interpretaions .table th:last-child,
            .basic-info .datasource-clinvar-interpretaions .table td:last-child {
                width: 50%;
            }

            .basic-info .clinvar-interpretation .review-status:first-letter,
            .basic-info .clinvar-interpretation .clinical-significance:first-letter {
                text-transform: capitalize;
            }

            .basic-info .clinvar-interpretation .disease .identifiers ul {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                vertical-align: bottom;
            }

            .basic-info .clinvar-interpretation .disease .identifiers li {
                float: left;
            }

            .basic-info .clinvar-interpretation .disease .identifiers li + li:before {
                content: "-";
                margin: 0 4px;
            }

            .basic-info .table .primary-transcript td:last-child:after {
                content: "\f069";
                font-family: 'FontAwesome';
                color: #31708f;
                float: right;
                position: relative;
                right: 0;
            }

            .population .table tfoot .count:first-child td {
                border-top: 2px solid #333;
                color: #333;
            }

            .population .datasource-ExAC .table tfoot td {
                font-weight: bold;
            }

            .population .datasource-ExAC .table tbody td,
            .population .datasource-ExAC .table tfoot td {
                width: 20%;
            }

            .population .datasource-1000G .table tbody td,
            .population .datasource-1000G .table tfoot td,
            .population .datasource-ESP .table tbody td,
            .population .datasource-ESP .table tfoot td {
                width: 16.66%;
            }

            .computational .datasource-clingen .table th,
            .computational .datasource-clingen .table td,
            .computational .datasource-other .table th,
            .computational .datasource-other .table td,
            .computational .datasource-splice .table th,
            .computational .datasource-splice .table td {
                width: 25%;
            }

            .computational .datasource-conservation .table th,
            .computational .datasource-conservation .table td,
            .computational .datasource-additional .table th {
                width: 50%;
            }

            .computational .datasource-clinvar dt {
                margin-right: 15px;
            }

            .computational .page-header:first-child {
                margin-top: 20px;
            }

            .computational .datasource-splice .table {
                .row-span {
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    font-weight: bold;
                }

                tfoot td {
                    font-weight: bold;
                }
            }

            .gene-specific .datasource-constraint-scores .table thead td,
            .gene-specific .datasource-constraint-scores .table tbody td {
                width: 25%;
            }

            .gene-specific .datasource-constraint-scores .table tfoot td {
                font-size: 90%;
            }
        }
    }
}

.wip {
    background-color: #ccc;
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    padding: 3px 8px;
}

/* variant curation interface - interpretation action bar */
.curation-actions {
    .evidence-only {
        padding: 20px 0;
    }

    .interpretation-record {
        padding: 20px 0;

         h2 {
            left: 0;
            margin: 0;
            text-align: center;
            width: 100%;
        }

        .btn-group {
            left: 0;
            padding: 0 15px;
            position: absolute;
            top: 20px;
            width: 100%;
        }
    }
}

.curation-data-curator .current-user-interpretations {
    margin-bottom: 10px;

    dl.inline-dl dt {
        float: none;
    }
}

.curation-variant  {
    .curation-data-disease,
    .curation-data-gene,
    .curation-data-curator {
        padding: 10px;
        background-color: rgb(215, 236, 215);

        @media screen and (min-width: $screen-sm-min) {
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }

        h4 {
            border-bottom: 1px solid #c9c9c9;
            margin-top: 0;
            padding-bottom: 5px;
        }
    }

    .curation-data-disease,
    .curation-data-gene {
        dd {
            float: none;
        }
    }

    .curation-data-curator {
        .btn-link {
            border: none;
            padding: 0;
        }
    }

    .alert {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

/* bootstrap callout component styles */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: #fff;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.bs-callout-info {
    border-left-color: #1b809e;

    h4 {
        color: #1b809e;
    }

    .bs-callout-content-container {
        float: left;
        margin-right: 10%;
    }

    .bs-callout-content-container-fullwidth {
        float: left;
        margin-right: 10%;
        width: 100%;
    }
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.panel.panel-info {
    .panel-title {
        font-weight: bold;

        a, .help-note {
            font-size: 85%;
            font-weight: normal;
            line-height: 17.5px;
            margin-left: 20px;
        }

        .help-note span {
            font-style: italic;
        }

        a.label-primary {
            color: #fff;
            font-size: 55%;
            font-weight: bold;
            margin-left: 10px;
            vertical-align: top;
        }

        a.credit-mygene {
            background: url(/static/img/mygene-logo.png) 0 1px no-repeat;
        }

        a.credit-myvariant {
            background: url(/static/img/myvariant-logo.png) 0 1px no-repeat;
        }

        a.credit-mygene,
        a.credit-myvariant {
            background-size: 18px 18px;
            display: inline-block;
            height: 18px;
            width: 18px;
            margin-left: 10px;
            vertical-align: bottom;

            span {
                display: none;
            }
        }
    }

    .panel-subtitle {
        a {
            font-weight: normal;
        }
    }

    .pull-right {
        float: right;
    }

    .panel-body {
        padding-bottom: 12px;

        .pull-right a {
            margin-left: 20px;
        }
    }
}

/* variant curation interface - criteria bar */
.criteria-group.btn-group-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.criteria-group.btn-group-sm .btn {
    background-color: #ddd;
    color: #555;
    cursor: default;
    padding: 5px 0.665em;
    font-size: 12px;
    font-weight: bold;

    &.benign-strong {
        color: #62387e;
    }

    &.benign-supporting {
        color: #2b67a0;
    }

    &.pathogenic-supporting  {
        color: #728b42;
    }

    &.pathogenic-moderate {
        color: #d36735;
    }

    &.pathogenic-strong {
        color: #d33535;
    }

    &.pathogenic-very-strong {
        color: #d33535;
    }

}

/**
 * Tooltip Styles for criteria bar
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    white-space: normal;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

/* Vertical padding for div */
.btn-vertical-space {
    padding-top: 10px;
    padding-bottom: 10px;
}

.feature-in-development {
    border: none;
    border-left: 5px solid #fed84d;
    border-radius: 2px;
}

.feature-in-development:hover {
    border: none;
    border-left: 5px solid #fed84d;
    border-radius: 2px;
}

dl.inline-dl {
    dt.dtFormLabel {
        line-height: 4.5;
    }

    dd.ddFormInput {
        margin-top: 15px;
    }
}

.panel-wide-content {
    padding: 20px 30px;
}

.hidden {
    display: none;
}

/* Credits at the bottom of tabs */
.credits {
    font-size: 12px;
    margin: 20px 0 0 0;

    .label-primary {
        vertical-align: text-top;
    }

    span.credit-mygene {
        background: url(/static/img/mygene-logo.png) 0 0 no-repeat;
    }

    span.credit-myvariant {
        background: url(/static/img/myvariant-logo.png) 0 0 no-repeat;
    }

    span.credit-mygene,
    span.credit-myvariant {
        background-size: 18px 18px;
        display: inline-block;
        height: 18px;
        width: 18px;
        vertical-align: bottom;

        span {
            display: none;
        }
    }
}

.progress-bar {
    width: 100%;
    padding: 0 0 10px 0;

    .benign-box {
        border: solid 2px #8bcd9c;
        padding-left: 10px;
        width: 32%;
        float: left;
        background-color: #fff;
    }

    .pathogenic-box {
        border: solid 2px #d78;
        padding-left: 10px;
        width: 34%;
        float: left;
        background-color: #fff;
    }

    .assertion-box {
        border: solid 2px #1b75bc;
        padding-left: 10px;
        width: 34%;
        float: left;
        background-color: #fff;
    }
}
