.curation-content {
    margin-top: 10px;
}

.curr-pmid-overview {
}

.pmid-doi-btns {
    margin: 10px 0;

    .btn {
        margin-right: 10px;
    }
}

.pmid-overview-abstract {
    margin: 30px 0;
}

.curation-data {
    dl {
        margin: 0;

        @media screen and (min-width: $screen-sm-min) {
            margin-bottom: 10px;
        }
    }
}

.curation-data-title {
    margin-bottom: 2px;
    color: #000;
    background-color: #c0c0c0;
    text-align: center;

    h1 {
        margin: 5px 0 2px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    h2 {
        margin: 2px 0 5px;
        font-size: 1.1rem;
        font-weight: 300;
        font-style: italic;
    }
}

.curation-data-gene,
.curation-data-disease {
    margin-bottom: 2px;
}

.curation-data-disease,
.curation-data-gene,
.curation-data-curator {
    padding: 10px;
    background-color: $color-neutral-bg;

    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}

.equal-height {
    overflow: hidden;
}

@media screen and (min-width: $screen-sm-min) {
    .gutter-exc:not(:last-child),
    .gutter-exc:not(:first-child) {
        padding-right: 1px;
        padding-left: 1px;
    }

    .gutter-exc:first-child {
        padding-left: $grid-gutter-width / 2;

    }

    .gutter-exc:last-child {
        padding-right: $grid-gutter-width / 2;

    }
}

.pmid-selection-trigger {
    background-color: $color-neutral-bg;
}

.pmid-selection-curr-id {
    position: relative;
    margin-left: 10px;
    top: 2px;
    font-weight: bold;
    font-size: 1.1rem;
}

.pmid-selection-trigger {
    padding: 5px;
}

.pmid-selection-selected {
    float: none;

    @media screen and (min-width: $screen-md-min) {
        float: left;
    }
}

.btn-add-new-pmid {
    display: block;
    margin-top: 2px;

    @media screen and (min-width: $screen-md-min) {
        float: right;
        margin-top: 0;
    }
}

.pmid-selection-wrapper {
    margin-bottom: 50px;
}

.pmid-selection-add {
    padding: 5px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: $color-neutral-bg;
}

.pmid-selection-add-btn {
    width: 100%;
}

.pmid-selection-list {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e0e0e0;

    @media screen and (min-width: $screen-md-min) {
        max-height: 500px;
    }
}

.pmid-selection-list-item {
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #f0f0f0;

    &:hover {
        background-color: $color-hover;
    }

    &.curr-pmid {
        background-color: #fff;
    }
}

.pmid-selection-list-pmid {
    font-weight: bold;
}

.pmid-selection-help {
    margin-top: 20px;
}

.panel-curator {
    margin: 2px 0;
    padding: 15px;
    background-color: darken($color-neutral-bg, 10%);
    @include border-radius(0);

    p {
        margin: 0;
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.panel-evidence-groups {
    > .panel-heading {
        padding: 0;

        h4 {
            text-align: center;
            font-weight: bold;
        }
    }

    > .panel-body {
        padding: 10px 10px 0 10px;

        h5 {
            font-weight: bold;
            margin: 0;
        }
    }
}


.panel-evidence-group {
    margin: 5px 0;
}

.panel-evidence {
    .panel-heading {
        padding: 0;

        h4 {
            font-size: 1.1rem;
            text-align: left;
        }

        a {
            padding: 5px 10px;
        }
    }

    .panel-body {
        padding: 10px;
        background-color: #fff;
    }

    .icon {
        font-size: 1.3rem;
    }
}

.evidence-curation-info {
    font-style: italic;
    margin: 2px 0 0 0;

    p {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.3;
    }
}

.panel-create-gene-disease {
    .panel-std {
        padding-bottom: 40px;
    }
}

.panel-dashboard {
    .panel-std {
        padding: 10px 30px 20px 30px;
    }

    .gdm-list {
        width: 100%;
        border: 1px solid #ddd;
        border-bottom: none;

        .gdm-item {
            width: 100%;
            padding: 2px 8px 2px 8px;
            border-bottom: 1px solid #ddd;
            background-color: #f0f0f0;
        }

        .gdm-item:hover {
            background-color: #cde8f6;
        }
    }
}

.edit-omim-modal {
    display: inline;
}

.curation-pmid-summary {
    margin-top: 5px;
    padding: 10px 20px 0 20px;
    background-color: $group-curation-bg;
    border: 1px solid $group-curation-trim;
    font-size: 1.1rem;
    text-align: center;
}

.curation-content-viewer {
    margin-top: 40px;
    padding-bottom: 40px;
}

.variant-panel {
    padding-top: 40px;
    border-top: 1px solid #c0c0c0;

    &:first-child {
        padding-top: 0;
        border-top: none;
    }
}

.variant-view-panel {
    h5 {
        margin-bottom: 0;
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #c0c0c0;
        font-size: 1.3rem;
    }

    @media screen and (min-width: $screen-sm-min) {
        &.variant-view-panel-edit {
            margin-bottom: 40px;
        }
    }
}

.viewer-titles {
    h1 {
        margin-bottom: 10px;
    }

    h2 {
        margin-top: 0;
        font-size: 1.3rem;
    }
}

.curation-submit {
    margin-bottom: 20px;

    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 40px;
    }
}

.no-entry {
    color: #c0c0c0;
}

.disabled-gray {
    color: $gray-light;
}

.btn-individual-submit {
    width: 100%;
}

.input-note-below {
    margin-top: -20px;
    margin-bottom: 40px;
}

.orphanet-copy {
    margin-top: -20px;

    input[type=button] {
        margin-left: -3px;
    }
}

.experimental-data-form {
    input[type=checkbox] {
        margin-top: 11px;
    }

    .hug-top {
        margin-top: -20px;
        padding-bottom: 20px;
    }

    .no-resize {
        resize: none;
        overflow-x: hidden;
    }
}

.palette-not-curated {
    color: #909090;
}


// Variant Header Styles
.variant-header {
    margin-top: 2px;
    padding: 5px 0;
    background-color: #c0c0c0;

    h2 {
        margin: 0;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
    }

    p {
        margin-bottom: 0;
        text-align: center;
    }

    .btn {
        position: relative;
        margin: 5px 0;
        width: 100%;

        i {
            position: absolute;
            top: 3px;
            right: 3px;
            font-size: 1rem;
        }
    }
}

// Display inline icon for proband. Change @extend to change icon site-wide.
.icon-proband {
    @extend .icon-user-md;
    margin-left: 3px;
    margin-right: 3px;
    color: #ce1d1d;
    font-size: 1.1em !important; // To make its size relative to the surrounding text.
}

.icon-proband-white {
    @extend .icon-proband;
    color: #fff;
}

// Summary and Provisional data in GDM title panel
.provisional-info-panel {
    width: 100%;
    border-top: 2px solid #aaa;

    .provisional-title {
        text-align: left;
        padding-left: 10px;
    }

    .provisional-data-left {
        float: left;
        text-align: left;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 100px;
    }

    .provisional-data-center {
        float: left;
        text-align: left;
        padding-bottom: 5px;
        padding-left: 10px;
    }

    .provisional-button {
        float: right;
        padding: 20px 20px 10px 20px;
    }
}

.summary-scoring {

    .td-title {
        width: 420px;
        padding-left: 10px;
    }

    .td-score {
        width: 80px;
        text-align: right;
        vertical-align: top;
        padding-right: 10px;
    }
}
