.gene-disease-evidence-summary-wrapper {
    margin-left: 30px;
    margin-right: 30px;

    .window-close-btn-wrapper {
        text-align: right;
        margin: 15px 0 0 0;
    }

    h1 {
        text-align: center;
    }

    .panel-body {
        dl {
            margin-bottom: 0;
        }
    }

    .panel-header,
    .panel-case-level,
    .panel-case-control,
    .panel-experimental {
        @include border-radius(4px);
        margin-bottom: 20px;
    }

    .table>thead>tr>th {
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #ddd;

        &:last-child {
            border-right: none;
        }
    }

    .table>tbody>tr>td {
        vertical-align: middle;
        border-right: 1px solid #ddd;

        &:last-child {
            border-right: none;
        }
    }

    .evidence-summary {
        &.panel-case-level {
            .evidence-variant {
                .variant-info {
                    margin: 6px 0;
                }
            }
        }
    }
}