.navbar {
    margin: 0;
    background-color: transparent;
    border: none;
}

.navbar-brand {
    display: block;
    @extend .navbar-brand;
    @extend .text-hide;
    padding: 0;
    width: 172px;
    height: 72px;
    background: url(/static/img/clingen-logo-sm.svg) 0 0 no-repeat;

    @media screen and (min-width: $screen-sm-min) {
        padding: 0;
        height: 134px;
        background: url(/static/img/clingen-logo.svg) 0 0 no-repeat;
    }
}

.navbar-main {
    position: relative;

    .container {
        position: relative;
        z-index: 10;
    }
}

.navbar-main-bg {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 0;
}

.nav-main {
    @media screen and (min-width: $screen-sm-min) {
        position: absolute;
        bottom: 0;
        right: $grid-gutter-width / 2;
        font-size: 1.1rem;
        font-weight: 300;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #000;

    &:hover {
        background-color: white;
    }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default {
    .navbar-toggle {
        border: none;
        margin: 16px 0 0 0;

        .icon-bar {
            background-color: $color-link;
            height: 4px;
        }
    }
}

.navbar-user {
    display: table;
    width: 100%;

    @media screen and (min-width: $screen-sm-min) {
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        width: auto;
        z-index: 100;
    }
}

.nav-gsignin {
    padding: 0 5px 0 5px;
    color: #fff;
    background-color: $color-trim;

    div {
        background-color: transparent;
        color: #fff;
        box-shadow: none;

        div {
            .abcRioButtonIcon {
                height: 30px;
                background-color: #fff;

                div {
                    background-color: #fff;
                }
            }
        }
    }

    &:hover {
        background-color: darken($color-trim, 10%)
    }
}

.nav-gsignin-hidden {
    display: none;
}

.nav-user {
    display: table-row;

    li.link {
        display: table-cell;
        vertical-align: top;
        text-align: center;
        padding: 1px 0 0 1px;

        a, a:focus {
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;
            background-color: $color-trim;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                background-color: darken($color-trim, 10%);
            }
        }

        @media screen and (min-width: $screen-sm-min) {
            display: block;
            padding-top: 0;
        }
    }

    li.white-space {
        margin-left: 30px;
    }

    @media screen and (min-width: $screen-sm-min) {
        display: block;
        float: none;
    }
}
