html, body {
    font-size: 18px;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 14px;
    }
}

body {
    font-family: 'Helvetica Neue', 'Lato', Helvetica, sans-serif;
}

.container {
    position: relative;
}

h1, .h1 { font-size: $font-size-h1; font-weight: 300; }
h2, .h2 { font-size: $font-size-h2; font-weight: 300; }
h3, .h3 { font-size: $font-size-h3; font-weight: 300; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

p {
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
textarea.form-control {
    background-color: #fff;
}

.btn {
    @include border-radius(2px);
}

.btn-primary {
    border: 1px solid $color-btn;
    background-color: $color-btn;

    &:hover {
        border: 1px solid $color-btn-hover !important;
        background-color: $color-btn-hover !important;
    }
}

.btn-inline-spacer {
    margin-left: 5px;
}

// Last button in a panel; gap to bottom of panel
.btn-last {
    margin-bottom: 40px;
}

.site-header {
    position: relative;
    border-top: 6px solid $color-trim;
    border-bottom: 2px solid $color-trim;
    background: white;

    @media screen and (min-width: $screen-sm-min) {
        background: url(/static/img/header-bg.jpg) center center no-repeat;
        background-size: cover;
    }
}

dl.inline-dl {
    dt {
        float: left;
        clear: left;
        margin: 0 5px 0 0;
        padding: 0;
        line-height: 1.3;
    }

    dd {
        float: left;
        margin: 0;
        padding: 0;
        line-height: 1.3;
    }
}

dl.dl-horizontal {
    margin: 0;

    dt, dd {
        display: block;
        margin: 0;
        line-height: 1.3;
    }

    dt {
        font-weight: bold;
        text-overflow: clip;
        width: auto;

        &:after {
            content: ": ";
        }
    }

    dd {
        @extend .clearfix;
    }

    div {
        clear: both;
        margin: 6px 0;
    }

    @media screen and (min-width: $screen-xs-min) {
        display: table;

        dt, dd {
            display: table-cell;
            vertical-align: bottom;
        }

        dt {
            padding: 6px 20px 6px 0;
        }

        dd {
            padding: 6px 0;
        }

        div {
            clear: none;
            display: table-row;
        }
    }
}

.beta-note {
    font-style: italic;
}

.icon-alt {
    font-size: 1rem;

    @media screen and (min-width: $screen-sm-min) {
        font-size: 1.5rem;
    }
}

.notice-bar {
    margin-bottom: 0;
    border-radius: 0;
}

.alert-demo {
    color: white;
    background: #880000;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.demo-background {
    background-image: url(/static/img/test-bg.svg);
}

.alert-production {
    color: #8a6d3b;
    background: #fed84d;
    height: 80px;
    border-top: 1px solid #f4b61f;
    border-bottom: 1px solid #f4b61f;
    text-align: center;
    line-height: 50px;
}

// Display external-link fontawesome icon after EVERY link (override later)
a[href^="http://"]:after,
a[href^="https://"]:after,
a.external-link:after {
    font-family: FontAwesome;
    content: " \f08e";
}

// Disable external-link icon for clinicalgenome.org and localhost links
a[href^="localhost"]:after,
a[href^="instance.clinicalgenome.org/"]:after,
a[href^="demo.clinicalgenome.org/"]:after,
a[href^="production.clinicalgenome.org/"]:after,
a[href^="curation-test.clinicalgenome.org/"]:after,
a[href^="curation.clinicalgenome.org/"]:after {
    content: "";
}