$color-trim: #2697d1;
$color-trim-dark: #293894;
$color-link: #1b75bc;
$color-btn: #1b75bc;
$color-btn-hover: #293894;
$color-hover: lighten($color-trim, 40%);
$color-neutral-bg: #e8e8e8;
$color-selected: #e9f4d0;

$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-small: 0.85rem;

$font-size-h1: 2.6rem;
$font-size-h2: 2.15rem;
$font-size-h3: 1.7rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1rem;
$font-size-h6: 0.85rem;

$group-curation: #FFFF00;
$group-curation-bg: desaturate(lighten($group-curation,45%),50%);
$group-curation-trim: darken($group-curation,10%);

$table-header-fg: #fff;
$table-header-bg: $color-trim;
$table-header-highlight-bg: darken($table-header-bg, 10%);
$table-row-odd-bg: #f0f0f8;
$table-row-even-bg: #fcfcff;

$benign-strong: #62387e;
$benign-supporting: #2b67a0;
$pathogenic-supporting: #728b42;
$pathogenic-moderate: #d36735;
$pathogenic-strong: #d33535;
$pathogenic-very-strong: #d33535;
$stand-alone: #62387e;